@import url(http://fonts.googleapis.com/css?family=PT+Sans);
/*font-family: 'PT Sans', sans-serif;*/

*{
    border: none;
    margin: 0;
    padding: 0;
}

body{
    background: #000;
    color: #8e8e8e;
    font-size: 62.5%;
    font-family: 'PT Sans', arial, helvetica, sans-serif;

}

h1{
    margin: 10px 20px 0;
    font-size: 3.6em;
    color: #646464;
    padding: 0 0 0px 0;
    border-bottom: 1px solid #fff;
    background: url(/img/global/separator.png) bottom left repeat-x;
}

h2{
    font-size: 2.4em;
    color: #646464;
    font-weight: normal;
    border-bottom: 1px solid #fff;
    background: url(/img/global/separator.png) bottom left repeat-x;
    padding: 0 0 4px 0;

}



p{

}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    float: left;
    background: url(/img/global/bg.png) top center #fff;
}

.header{
    width: 100%;
    float: left;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: relative;

    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.header_inner{
    max-width: 1200px;
    width: 100%;
    height: 65px;
    margin: 0px auto;
}

.logo{
    display: block;
    float: left;
    width: 159px;
    height: 60px;
    background: url(/img/global/logo.png) center center no-repeat;
    text-indent: -3000px;
    margin: 2px 0 0 0;
}


.content{
    width: 100%;
    float: left;
    clear: both;

}

.content_inner{
    width: 100%;
    max-width: 1200px;
    margin: 0px auto 0;
    position: relative;
}


.outer_col{
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    padding: 20px 0 80px;
    min-height: 500px;
}

.outer_col p{
    margin: 20px 0 0 20px;
    font-size: 1.4em;
}

.outer_col a{
    color: #fc4343;
}

.outer_col h3{
    margin: 16px 20px 0;
    font-size: 1.8em;
    color: #646464;
    padding: 0 0 0px 0;
    border-bottom: 1px solid #fff;
    background: url(/img/global/separator.png) bottom left repeat-x;
}

.left_col{
    width: 68%;
    float: left;
    position: relative;
}

.right_col{
    width: 30%;
    float: right;
    margin: 21px 0 0 0;
}

.sidebar_block{
    margin: 0 0 20px 0;
}

.sidebar_block p{
    margin: 20px 0 0 0;
}

.sidebar_block ul{
    margin: 20px 0 0;
    float: left;

}

.sidebar_block li{
    float: left;
    clear: both;
    font-size: 1.4em;
    margin: 0 0 10px 0;
    list-style: none;
    cursor: pointer;

}

.sidebar_block li a{
    color: #8E8E8E;
    text-decoration: none;
}

.sidebar_block li span{
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    float: left;
    margin: 0 10px 0 0;
    padding: 3px;
    border: 1px solid rgba(252, 67, 67, 0.2);
    background: #fff;
}

.sidebar_block li span img{
    height: 100%;
}


.portfolio_outer{
    width: 100%;
    float: left;
    clear: both;

}

.portfolio_element{
    width: 33%;
    float: left;
    height: auto;
    margin: 0 0 10px 0;
}

.portfolio_element.clear{
    clear: both;
}

.portfolio_img_outer{
    float: left;
    clear: both;
    width: 100%;
    height: 100px;
    position: relative;
}

.portfolio_img{
    position: absolute;
    top:10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-repeat: no-repeat;
    background-position: center -50px;
    background-size: 250%;
}

.portfolio_element_data{
   /* position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 70%;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.6);*/
}

.portfolio_element_data h3{
   /* color: #fff;
    padding-bottom: 5px;*/
}

.repo_container_outer{
    width: 100%;
    float: left;
    clear: both;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.4);
    position: relative;
}

#repo_container{
    position: relative;
    left: 20px;
    width: 95%;
}



.footer{
    float: left;
    width: 100%;
    clear: both;
    height: 130px;
    background: #000;

    -webkit-box-shadow:  0px -1px 2px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  0px -1px 2px 0px rgba(0, 0, 0, 0.4);
}

.footer_inner{
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
}

.footer_col_left{
    width: 25%;
    float: left;
}

.footer_col_left h3{
    font-size: 1.6em;
}

.footer_col_left p{
    font-size: 1.2em;
}

.footer_col_left a{
    color: #8e8e8e;

}


/* menus */

.main_menu{
    float: right;
}

.main_menu li{
    display: block;
    float: left;
    margin: 20px 10px 0;
    font-size: 1.6em;
}

.main_menu li a{
    color: #fff;
    opacity: 0.6;
}

.main_menu li a:hover,
.main_menu li.current a{
    opacity:1;
}