<div class="header_inner">

    <a href="/" class="logo">
        Home
    </a>

<!--
    <ul class="social_menu">
        <li><a href="http://www.twitter.com/dotloadmovie"><img src="/img/icons/twitter.png" /></a></li>
        <li><a href="http://www.github.com/dotloadmovie"><img src="/img/icons/github.png" /></a></li>
        <li><a href="http://www.linkedin.com/dotloadmovie"><img src="/img/icons/linkedin.png" /></a></li>
    </ul>

-->

    <ul class="main_menu">

        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/code">Code</a></li>
        <li><a href="/contact">Contact</a></li>

    </ul>

</div>