<h1><%= model.get('title') %></h1>

<%= model.get('detail') %>

<div class="portfolio_outer">

<% _.each(model.get('images'), function(e, i){ %>

    <%
    var _count = '';

    if(i % 3 === 0){
        _count = ' clear';
    }

    %>

   <div class="portfolio_element<%= _count %>">

       <div class="portfolio_img_outer">
           <div class="portfolio_img" style="background-image: url(/img/portfolio/<%= e.img %>);">

           </div>
       </div>

       <div class="portfolio_element_data">

           <h3><%= e.title %></h3>
           <p class="portfolio_data_client"><strong>Client: </strong> <%= e.client %></p>
           <p class="portfolio_data_desc"><%= e.description %></p>

       </div>

   </div>

<% }) %>

</div>

<br style="float:left;clear: both;" />
