<div class="sidebar_block">
<h2>What have I been up to?</h2>

<p>Building a new website for a national charity, using Wordpress, PHP, CSS3 and HTML5</p>

<p>Hooking a CMS user management platform to a SPA using a REST API</p>

<p>Learning about <a data-external="true" href="https://stripe.com/gb" target="_blank">Stripe</a> integration</p>

</div>

<div class="sidebar_block">
    <h2>Recent projects</h2>

    <ul>

        <% _.each(model.get('images'), function(e, i){ if(i > 2){return} %>
        <li>
            <a href="/portfolio/<%= i %>">
            <span class="project_thumb">

                <img src="/img/portfolio/<%= e.img %>" />

            </span>

            <%= e.description.substring(0, 40) %>...
            </a>
        </li>

        <% }) %>

    </ul>



</div>
